In [1]:
#Hipótesis. Dado que el surf nació en la costa oeste de EEUU, se plantea que el mayor número de ataques de tiburones a surfistas se ha producido en la costa oeste de EEUU.

#Buscar:
#Filtrar el DataFrame para la actividad surf
#Filtrar el DataFrame para la costa oeste. Country == USA  & Areas: Alaska, Hawai, California, Oregon y Washington
#La suma del número de casos de 'Surfing' de la costa oeste debe ser mayor a la suma de casos de 'Surfing' en otros países u otras áreas de EEUU
#Puede ser interesante buscar la moda de Area por Country en Surfing
#Puede ampliarse para saber si verano es la época del año con mayor número de ataques, ya que agosto y septiembre son los mejores meses para surfear

In [2]:
#Limpieza de datos.

#Crear un DataFrame a partir del DataFrame original con las columnas más interesantes para analizar la hipótesis
#Columnas de interés: Case Number, Country, Area, Date, Year, Location, Activity, 'Injury', 'Fatal (Y/N)'

#Renombrar las columnas para que no tengan espacio en el nombre

#Revisar los datos duplicados en Case Number, si no están duplicados en todos los campos, asignar una letra al final. O eliminar los 32 registros.

#Eliminar en los países los '?'

#En Países, reescribir a primera en mayúscula y el resto en minúscula

#Agrupar por continente

#Revisar los años. Si los dos últimos dígitos de 'Year' no coincide con los dos últimos dígitos de 'Date', sobreescribir 'Date' con el año.

In [3]:
#Importar módulos

import pandas as pd
import numpy as np
import re

In [4]:
#Creación de la base de datos

df = pd.read_csv('input/GSAF5.csv', engine = 'python')
df.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988,NaN,NaN
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987,NaN,NaN
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986,NaN,NaN
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,...,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.06,2016.09.06,5985,NaN,NaN
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,...,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.b,2016.09.05.b,5984,NaN,NaN

In [5]:
#Conocer la base de datos

df.shape

(5992, 24)

In [6]:
#Conocer cuántos registros nulos hay en cada columna

df.isnull().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [7]:
#Conocer las columnas
df.columns

#Comprobamos que hay columnas que tienen espacio en el nombre. 
#Eliminar el espacio de aquellos con la función str.rstrip()
df.columns = df.columns.str.rstrip()
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [8]:
#Seleccionar las columnas necesarias para el estudio de la hipótesis: Case Number, Country, Area, Date, Year, Location, Activity, 'Injury', 'Fatal (Y/N)'

shark_df = df[['Case Number', 'Date', 'Year', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)']]
shark_df.head()

,Case Number,Date,Year,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N)
0,2016.09.18.c,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N
1,2016.09.18.b,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N
2,2016.09.18.a,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N
3,2016.09.17,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N
4,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N

In [9]:
#Seleccionar la columna 'Case Number' como referente del índice

#Revisar si existen duplicados en la columna 'Case Number'

shark_df['Case Number'].duplicated().value_counts()

False    5976
True       16
Name: Case Number, dtype: int64

In [46]:
#Existen 16 'Case Number' duplicados. 
#Comprobar si son el mismo caso. Para ser el mismo caso se establece que debe ser misma 'Date', mismo 'Country', misma 'Area' y misma 'Activity'

#shark_df[shark_df['Case Number'].duplicated(keep=False)][['Case Number', 'Date', 'Country', 'Area', 'Activity']]

#Crear una función para que revise si son dos 'Case Number' iguales compruebe los otros campos. Si los campos son iguales, elimina uno de los dos. si los campos son distintos, añade 'x' al final de 'Case Number'. Se añade 'x' porque en el caso de que haya un 'Case Number' similar con una letra, no sea la b o c. 



#duplicates = shark_df[shark_df['Case Number'].duplicated(keep=False)]['Case Number'].tolist()
set_duplicates = set(duplicates)
set_duplicates

for dup in set_duplicates:
    a=shark_df.loc[(shark_df['Case Number'] == dup)]
    display(a)
    
    break
   

#shark_df.drop_duplicates(keep='first')

,Case Number,Date,Year,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N)
300,2014.08.02,02-Aug-14,2014,USA,Florida,"South of Cocoa Beach, Brevard County",Surfing,male,M,50s,Foot bitten,N
301,2014.08.02,02-Aug-14,2014,USA,Florida,"Table Beach, Brevard County",Boogie boarding,Christian Sanhueza,M,8,Laceration to ankle,N

In [12]:
#Revisar los ataques que tengan una 'Activity' no registrada
shark_df['Activity'].isnull().value_counts() 

#527 ataques no indican cuál fue la 'Activity'

False    5465
True      527
Name: Activity, dtype: int64

In [19]:
#Para inducir si alguno de esos 527 ataques que no tienen 'Activity' declarada han podido ser a surfistas...
#Analizar 'Injury' a surfistas
#shark_df[(shark_df['Activity'] == 'Surfing')]['Injury'].value_counts()

#Foot bitten y board son los valores que más se repiten
#Comprobar si en otras 'Activity' foot y board también aparecen con mucha frecuencia

#shark_df['Injury'].value_counts()

#Foot bitten aparece 82 veces
shark_df[(shark_df['Injury'].str.contains(' board ', na=False, regex=False))] #Se incluye na=False para que los nulos los pase a False.

,Case Number,Date,Year,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N)
4,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N
10,2016.09.05.a,05-Sep-16,2016,AUSTRALIA,Western Australia,Injidup,Surfing,Fraser Penman,M,NaN,"No inury, board broken in half by shark",N
18,2016.08.06,06-Aug-16,2016,USA,Hawaii,Maui,SUP Foil boarding,Connor Baxter,M,21,"No inury, shark & board collided",N
24,2016.07.26,26-Jul-16,2016,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,Curran See & Harry Lake,M,18,"No injury. Leg rope severed, knocked off board...",N
50,2016.06.07,07-Jun-16,2016,USA,South Carolina,"Folly Beach, Charleston County",Surfing,Jack O'Neill,M,27,"No injury, board damaged",N
...,...,...,...,...,...,...,...,...,...,...,...,...
3741,1960.08.29,29-Aug-60,1960,SENEGAL,Cap-Vert Peninsula,off Dakar,Air disaster: crash of Air France Super Conste...,NaN,NaN,NaN,All 63 on board perished when the aircraft hit...,Y
4168,1952.12.24,24-Dec-52,1952,AUSTRALIA,Victoria,"Portsea Beach, near Melbourne",Lying prone on surfboard,Bernard Bade,M,NaN,"No injury, board bumped by shark",N
4353,1947.04.06,06-Apr-47,1947,AUSTRALIA,New South Wales,Palm Beach,Surfing,Max Watt,M,17,"No injury, board scraped by shark",N
4920,1926.04.22,22-Apr-26,1926,SOUTH ATLANTIC OCEAN,South of the Equator,Steamship bound from Cape Town to Philadelphia,Fell overboard from SS Ripley Castle,Thomas (or Tony) Madison,M,26,When taken back on board 2 hours later both le...,N
5749,1852.02.26,26-Feb-1852,1852,SOUTH AFRICA,Western Cape Province,Danger Point,Wreck of the steamship Birkenhead,NaN,M,NaN,FATAL. All of the women & children on board su...,Y

In [48]:
#Filtrar el DataFrame solo por la actividad 'Surfing'

shark_df = shark_df[shark_df.Activity == 'Surfing']
shark_df.head()

,Case Number,Date,Year,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N)
0,2016.09.18.c,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N
1,2016.09.18.b,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N
2,2016.09.18.a,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N
3,2016.09.17,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N
4,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N

In [ ]:
#Conocer cuántos ataques a surfistas ha habido